      
# Vite + React
node_modules/
dist/
.cache/
coverage/

# OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build incremental info
*.tsbuildinfo

# Env files
.env.local
.env.example
.env
